<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="../../Scripts/wow/wow.js"></script>
    <script src="../../Scripts/wow/device.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

        <div id="ie6-alert" style="width: 100%; text-align:center;">
            <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
            <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
                <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
            </map>
        </div>
    <![endif]-->

    @Scripts.Render("~/bundles/knockout")
    @*@Scripts.Render("~/bundles/site")*@
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body data-ng-app="main">
    <header>
        <div class="box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <p class="title1">Free phone: <strong>800-2345-6789</strong></p>
                        <p class="title2">Hours:  8am-8pm PST M-Th;   6am-3pm PST Fri</p>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        @if (!Request.IsAuthenticated)
                        {
                            <a href="/Account/Register" class="btn-default btn1">Register</a>
                            <a href="/Account/Login" class="btn-default btn1">Sign In</a>
                        }
                        else
                        {
                            <p class="title2 float-right">@ViewBag.UserName</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 class="navbar-brand navbar-brand_"><a href="/"><img src="../../img/logo.png" alt=""></a></h1>
            <nav class="navbar navbar-default navbar-static-top tm_navbar clearfix" role="navigation">
                <ul class="nav sf-menu clearfix">
                    <li class="active"><a href="/">Home</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li class="sub-menu">
                            <a href="#">My Account</a><span class="fa fa-angle-down"></span>
                            <ul class="submenu">
                                <li><a href="#">Lorem ipsum</a></li>
                                <li>
                                    <a href="#">Dolor sit amet</a><span class="fa fa-angle-right"></span>
                                    <ul class="submenu">
                                        <li><a href="#">Dolore ipsu</a></li>
                                        <li><a href="#">Consecte</a></li>
                                        <li><a href="#">Elit Conseq</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Conse ctetur</a></li>
                                <li><a href="#">Adipisicing</a></li>
                                <li><a href="#">Elit sed do</a></li>
                                <li><a href="#">Eiusmod tempor</a></li>
                                <li><a href="#">Incididunt ut labore</a></li>
                                <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
                                        new { id = "logoutForm" }))
                                        {

                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                        }
                                </li>
                            </ul>
                        </li>
                    }
                    <li><a href="index-2.html">Sell</a></li>
                    <li><a href="index-3.html">Buy</a></li>
                    <li><a href="index-4.html">Contact us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        @RenderBody()

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                    <h2><strong>Information</strong></h2>
                    <ul class="list3">
                        <li><a href="index-1.html">About Us</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Price list</a></li>
                        <li><a href="index-4.html">Contact</a></li>
                        <li><a href="#">Registration</a></li>
                        <li><a href="#">Blogs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                    <h2><strong>Help</strong> Center</h2>
                    <ul class="list3">
                        <li><a href="#">Assistance</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Winners&apos; comments</a></li>
                        <li><a href="#">Refill the account</a></li>
                        <li><a href="#">Payments</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                    <h2><strong>Partners</strong></h2>
                    <ul class="list3">
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Conse ctetur adipisicing</a></li>
                        <li><a href="#">Elit sed do eiusmod tempor</a></li>
                        <li><a href="#">Incididunt ut labore</a></li>
                        <li><a href="#">Et dolore magna aliqua</a></li>
                        <li><a href="#">Ut enim ad minim</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                    <h2><strong>Facebook</strong> Like Box</h2>
                    <div class="fw_facebook">
                        <div data-show-border="false" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="light" data-href="https://www.facebook.com/TemplateMonster" data-width="270px" class="fb-like-box fb_iframe_widget" id="fb-like-box"></div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p class="privacy">Online Auction &copy; <em id="copyright-year"></em>. <a href="index-5.html">Privacy Policy</a></p>
            </div>
        </div>
        <!-- {%FOOTER_LINK} -->
    </footer>
    @Scripts.Render("~/bundles/tm-scripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        @RenderSection("jsCode", required: false)
    </script>
    
</body>
</html>
